@{
    ViewData["Title"] = "CreateRequest";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@model LeaveRequest
<h3 style="text-align: center;">Create leave Request</h3>
<div class="container-fluid">
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reason" class="control-label"></label>
                    <input asp-for="Reason" class="form-control" />
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
